<div class=" row justify-content-md-center">

    <div class="col-md-6 col-sm-12 col-lg-3 align-content-center">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">

            <p class="h4 mb-4">Sign in</p>

            <!-- Token -->
            <p class="h6 mb-4">Submit your PUF token </p>
            <input formControlName="token" type="text" id="defaultLoginFormToken" class="form-control mb-4"
                placeholder="Enter your token">

            <div class="d-flex justify-content-around">
                <div>
                    <!-- Remember me -->
                    <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
                </div>
                <div>
                    <!-- Forgot password -->
                    <a routerLink="/login">Login with Password</a>
                </div>
            </div>

            <!-- Sign in button -->
            <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>
            <!-- Register -->
            <p>Not a member?
                <a [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>
            </p>


        </form>
    </div>

</div>